.boondoggle-ai-header-container {
  display: flex;
  padding: var(--8, 8px) 0px;
  align-items: center;
  align-content: center;
  gap: 28px var(--28, 28px);
  align-self: stretch;
  flex-wrap: wrap;
  border-radius: var(--8, 8px);
  background: var(--white-80, rgba(255, 255, 255, 0.8));

  /* BG blur 40 */
  backdrop-filter: blur(20px);
}

.boondoggleai-header {
  align-self: stretch;
  color: var(--black-100, #1c1c1c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 24 Regular */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 150% */
}

.boondoggleai-query-input {
  display: flex;
  width: 95vw;
  margin-bottom: 1vh;
  padding: var(--16, 16px) var(--12, 12px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--8, 8px);
  position: relative;
  border-radius: var(--Radius-24, 24px);
  border: 1px solid var(--Brand-Light, #8054ff);
  background: linear-gradient(
      90deg,
      rgba(128, 84, 255, 0.05) 0%,
      rgba(1, 131, 251, 0.05) 100%
    ),
    var(--white-80, rgba(255, 255, 255, 0.8));

  /* BG blur 100 */
  backdrop-filter: blur(50px);
}

.boondoggle-ai-chat-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 35px;
  align-self: stretch;
  overflow-y: scroll;
  height: 80vh;
}

.boondoggle-ai-chat {
  display: flex;
  padding-right: 128px;
  align-items: center;
  align-content: center;
  gap: 28px var(--28, 28px);
  align-self: stretch;
  flex-wrap: wrap;
}

.boondoggle-ai-chat-text {
  align-self: stretch;
  color: var(--black-100, #1c1c1c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 18 Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}

.boondoggle-ai-chat-text-query {
  align-self: stretch;
  color: var(--black-100, #1c1c1c);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 18 Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 24px; /* 133.333% */
}
