@font-face {
  font-family: "Inter";
  src: url("../../styles/fonts/Inter/static/Inter-Regular.ttf")
    format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../../styles/fonts/Inter/static/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

.login-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: #f7f9fb;
}

.login-pic-container {
  background-color: #fff;
  border-radius: 30px;
  margin-right: 5%;
  width: 40%;
  height: 80vh;
  object-fit: contain;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-pic {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.sign-up-text {
  /* margin-top: 20%; */
  color: var(--black-100, #1c1c1c);
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 24 Semibold */
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 1px; /* 150% */
}

.sign-in-button {
  display: flex;
  min-width: 313px;
  padding: var(--8, 8px) var(--16, 16px);
  justify-content: center;
  align-items: center;
  gap: var(--8, 8px);
  border-radius: var(--12, 12px);
  background: var(--Primary-Brand, #1c1c1c);
  color: #fff;
  margin-top: 5vh;
  font-weight: 800;
  font-size: 18px;
  width: 60%;
}

.input-container {
  display: flex;
  height: 40px;
  min-width: 313px;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--4, 4px);
  align-self: center;
  border-radius: var(--12, 12px);
  border: 1px solid var(--black-10, rgba(28, 28, 28, 0.1));
  background: var(--white-80, rgba(255, 255, 255, 0.8));
  margin-top: 4vh;
  padding: var(--4, 4px) var(--12, 12px);
}

.trial-text {
  color: var(--black-40, rgba(28, 28, 28, 0.4));
  text-align: center;
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  margin-top: 2vh;

  /* 14 Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1px; /* 142.857% */
}
.or-with-email-text-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  align-items: center;
  align-content: center;
  gap: 16px var(--16, 16px);
  border-radius: var(--8, 8px);
  margin-top: 2vh;
}

.or-with-email-text {
  align-self: stretch;
  color: var(--black-40, rgba(28, 28, 28, 0.4));
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;

  /* 12 Regular */
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 150% */
  white-space: nowrap;
}

.line {
  width: 50%;
  height: 1px;
  border-radius: var(--0, 0px);
  background: var(--black-10, rgba(28, 28, 28, 0.1));
  display: flex;
}

.sign-in-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: var(--8, 8px);
  margin-top: 8vh;
}

.sign-in-text-1 {
  color: var(--black-40, rgba(28, 28, 28, 0.4));
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  white-space: nowrap;

  /* 14 Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.sign-in-text-2 {
  color: var(--Secondary-Indigo, #95a4fc);
  font-feature-settings: "cv11" on, "cv01" on, "ss01" on;
  white-space: nowrap;

  /* 14 Regular */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.sign-in-text-2:hover {
  text-decoration: underline;
}
